beautifulsoup4==4.12.3
certifi==2024.12.14
charset-normalizer==3.4.0
colorzero==2.0
gpiozero==2.0.1
idna==3.10
Jetson.GPIO==2.1.6
lgpio==0.2.2.0
markdown-it-py==3.0.0
mdurl==0.1.2
numpy==2.2.0
pillow==11.0.0
Pygments==2.18.0
requests==2.32.3
RPi.GPIO==0.7.1
soupsieve==2.6
spidev==3.6
urllib3==2.2.3
